{% extends 'base.html' %}
{% block title %}Editing Post{% endblock title %}

{% block content %}
<div class="card shadow p-3 mb-5 bg-white rounded m-auto" style="width: 100%;">

    <form action="/edit_post" method="POST">
        <div class="form-group">
            <label for="post_title">Email address</label>
            <input type="text" class="form-control" id="post_title" name="post_title" placeholder="post title">
        </div>


        <div class="form-group">
            <label for="post_body">enter post</label>
            <textarea name="post_body" id="post_body" cols="30" rows="10" class="editor"></textarea> </div>



        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>


{% endblock content %}

{% block script %}
{% endblock script %}