{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages  %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}

{% endif %}
{% endwith %}

<!-- Blog Post Start -->
{% for post in posts %}

<div class="col-md-12 shadow p-3 mx-auto page-body blog-post" style="width:90%;">
    <div class="row">
        <div class="col-md-12">
            <div class="post-title">
                <a href="/{{post.slug}}">
                    <h2>{{post.title}}</h2>
                </a>
            </div>
            <div class="post-info">
                <span>{{ post.date_published.strftime("%B %d, %Y")}} / by <a href="#"
                        target="_blank">{{post.name}}</a></span>
            </div>
            <p>{{ post.body|safe|striptags|truncate(100)}}</p>
            <a href="/{{post.slug}}" class="button button-style button-anim fa fa-long-arrow-right"><span>Read
                    More</span></a>
        </div>
    </div>
</div>


{% endfor %}

<!-- Blog Post End -->


<div class="col-md-12 text-center">
    <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
    <div id="post-end-message"></div>
    {% endblock content %}



    <!-- Blog Post (Right Sidebar) Start -->